*{font-family: 'ubuntu', sans-serif;}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
    max-height: 0;
}
.card-loginSignup-item-s{
    width: 70px;
    outline:none;
    border: none;
    margin-top: 10px;
    padding: 0;
}

.card-loginSignup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
    padding-bottom: 0.5rem;
    width: 33.33%;
    border-radius: 25px;
    box-shadow: 0px 0px 11px -5px var(--main-box-shadow); 
}

.card-loginSignup-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0px;
    border-radius: 25px;
    font-size: 1rem;
}

/* --------- */

.loginSignup-form{
    display: flex;
    justify-content: center;
}

.register-name{
    display: flex;
    flex-direction: row;
    margin: 1rem 0.7rem 0 0;
}

.form-group {
    margin-top: 1rem;
}

input[type="text"],
input[type="password"], 
input[type="email"] {
    width: 91%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: var(--main-highlight-color);
    box-shadow: 0 0 0 0.2rem var(--main-highlight-color);
}

.error-message{
    color: var(--main-error-color);
    margin-top: 12px;
}

.success-message{
    margin-top: 12px;
    color: var(--main-correct-text-color);
    font-weight: bold;
}

#incorrect-user, #register-error{
    color: var(--main-error-color);
    text-align: center;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: var(--main-highlight-color);
    background-color: var(--main-highlight-bg-color);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--main-highlight-color);
}

#register-button{
    max-width: 96%;
}