*{margin: 0;padding: 0;
}
:root {
    /* Colors */
    --main-bg-color: #333;
    --main-fg-color: #fff;
    --main-highlight-color: #ffd700;
    --main-body-text: black;
    --main-box-shadow: black;
    --main-highlight-bg-color: rgba(20, 20, 20, 0.5);
    --main-error-color: rgba(255, 0, 0, 0.8);
    --main-correct-color: rgb(0, 255, 0);

    /* Fonts */
    --main-header-font: 'Lato', sans-serif;
    --main-body-font: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/*--------------------- Header --------------------- */
header {
    background-color: var(--main-bg-color);
    /* Using the defined variable */
    font-family: var(--main-header-font);
    font-weight: 750;    
}

.navbar {padding: 20px;}
/* left center and right for 3 items in the respective position */
.navbar__left {
    display: flex;
    align-items: center;
}  
.navbar__center {
    flex-grow: 1;
    text-align: center;
}  
.navbar__right {
    display: flex;
    align-items: center;
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
.navbar__menu {
    padding: 20px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}  
.navbar__menu li {margin-left: 20px;}  
.navbar__menu li:first-child {margin-left: 0;}  
.navbar__menu a {
    text-decoration: none;
    color: var(--main-fg-color);
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
    padding:0px 15px;
}  
.navbar__menu a:hover {color: var(--main-highlight-color);}

/* pseudo loading progress bar */
@keyframes loading-animation{
    0%{
        width: 0vw;
        height: 0.5vh;
    }
    100%{
        width: 100vw;
        height: 0.5vh;
    }
}
.progressBar{
    margin: 0;padding: 0;
    background: var(--main-highlight-color);
    height: 0vh;
    animation: loading-animation 1s ease-in-out 0s 1 normal;
}
/* --------------------------------------------------------- */
/* -------------------- Welcome Section -------------------- */
.welcome-screen{
    font-family: var(--main-body-font);
    display: flex;
    margin: 0px 30px;
    align-items: center;
}
/* Might remove this if the site looks asymmiterical */
.welcome-writing{
    margin-left: 40px;
    /* min-width: 600px; */
}
/* --------------------------------------------------------- */
/* ------------------ Learn Course Anims. ------------------ */
#learnText {
    font-size: 24px;
    display: inline-block;
    font-family: sans-serif;
    color: black;
    overflow: hidden;
    white-space: nowrap;
}
#text-container {
    display: inline-block;
    /* position: absolute; */
    position: relative;
    max-height: 25px;
    min-height: 24px;
}
#text {
    font-size: 24px;
    display: inline-block;
    font-family: sans-serif;
    color: black;
    overflow: hidden;
    /* border-right: 3px solid black; */
    white-space: nowrap;
    min-height: 24px;
}
#cursor {
    /* min-height: 28px; */
    display: inline-block;
    position: absolute;
    width: 3px;
    height: 24px;
    background-color: black;
    animation: blink 0.8s infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes erasing {
    from { width: 100% }
    to { width: 0 }
}
@keyframes blink {50% { opacity: 1% }}
.typing {animation: typing 1s steps(40, end) forwards;}
.erasing {animation: erasing 0.5s steps(40, end) forwards;}
/* --------------------------------------------------------- */
/* ------------------ Recommended Section ------------------ */
.recommended-courses{
    font-family: var(--main-body-font);
    margin: 30px;
    justify-content: center;
}
.recommended-header{
    text-align: center;
}
.lines{
    color: var(--main-body-text);    
    text-decoration: none;
    margin: 3px 15px 15px 15px;
}
.lines p{
    margin: 5px 0px;
}
/* --------------------------------------------------------- */
