.text-center{
    text-align:center;
}
.text-decoration-none{
    text-decoration: none;
}
.hover-highlight:hover{
    color: var(--main-highlight-color);
    text-shadow: 0px 0px 5px var(--main-bg-color);
}
.heading{
    display: inline;
    text-align: center;
    margin: 20px;
    font-family: var(--main-header-font);
    font-size: x-large;
    text-shadow: 0px 0px 5px var(--main-bg-color);
}
.colorBG{
    color: var(--main-bg-color);
}
.colorH{
    color: var(--main-highlight-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--main-fg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-bg-highlight-color);
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    font-family: var(--main-body-font);
    max-width: 91vw;
    margin: 10px auto;
    background-color: white;
    flex-wrap: wrap;
}
    .card {
        display: flex;
        overflow: hidden;
        border-radius: 25px;
        margin: 0px 15px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 11px -5px var(--main-box-shadow);
        max-width: 380px;
        transition: transform 0.2 ease-in-out;
    }
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 15px -4px var(--main-box-shadow);    
    }
        .card-item {
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 25px;
        }
        .card-item img{
            border-radius: 25px;
        }
        .card p{
            margin: 16px 16px 16px 16px;

        }
        .card-title{
            text-align: left;
            font-weight: 500;
            font-size: x-large;
            /* padding: 16px 16px 8x 16px; */
            }
            .card-description{
                text-align: left;
            }